
        <!-- Start: Our Work Area
        ================================== -->
        <section id="our-work">
            <div class="container-fluid">
                <div class="row our-work-body section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-6 col-md-offset-3">

                        <h2 class="section-heading">精選花絮</h2>
                        <p>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Suscipit corrupti facilis event landing template, enim earum numquam minus veritatis nobis accusamus similique, totam?</p>

                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: Our Works Gallery -->
                    <div class="works col-xs-12 wow fadeInDown">
                        <div class="row ">

                            <div class="zoom-gallery">
                                <ul class="nav">
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/1.jpg">
                                            <%= image_tag("our-works/1.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/2.jpg">
                                            <%= image_tag("our-works/2.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/3.jpg">
                                            <%= image_tag("our-works/3.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/4.jpg">
                                            <%= image_tag("our-works/4.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/4.jpg">
                                            <%= image_tag("our-works/4.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/3.jpg">
                                            <%= image_tag("our-works/3.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- End: .row .grid -->
                    </div>
                    <!-- End: Our Works Gallery -->

                </div>
                <!-- End: .row .our-work-body .section-separator -->
            </div>
            <!-- End: .container-fluid -->
        </section>
        <!-- End: Our Work Area
        ================================== -->
