



<!--  Start: Two cols Section
==============================--> 
<section id="two-cols-description-with-slider" class="two-cols-description-with-slider">
    <div class="container-fluid">
        <div class="row two-cols-description-with-slider-body">

            <!-- Expandable Gallery -->
            <div class="slider-bar col-md-6 col-sm-12">
                <div class="row">
                    <div class="flexslider">
                        <ul class="slides slides-height">
                            <li>
                                <%= image_tag("gallery/IMG_5976.jpg", alt: "街頭健身囡仔團隊") %>
                            </li>
<!--                             <li>
                                <%= image_tag("gallery/gallery-3.jpg") %>
                            </li>
                            <li>
                                <%= image_tag("gallery/gallery-4.jpg") %>
                            </li>
                            <li>
                                <%= image_tag("dip_799X591比例.jpg", size: "799x491", alt: "街頭健身囡仔團隊") %>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Start: TWO COLS DESCRIPTION TEXT -->
            <div class="description-info description-height col-md-6 col-sm-12 wow fadeInRight">

                <div class="description-info-inner section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header align-left">
                        <h2 class="section-heading">關於草根盃</h2>
                        <p>草根盃是由台灣囡仔街頭健身與四福單槓團共同發起的徒手健身比賽
                            ，意旨在推廣徒手健身，讓資源不足的地方民眾也有機會認識健身運動。
                            並提供一個平台，邀請各界健身人士參加，以開放的態度進行交流。</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: .chaecklist -->
<!--                     <ul class="checklist">
                        <li>Finiti id dolor id evint landing ultricies vehicula ut id elit.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                        <li>Nulla vitae elit finiti, a pharetra augue.</li>
                        <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                        <li class="visible-lg">Praesent commodo cursus magna, event landing scelerisque nisl consectetur et.</li>
                    </ul> -->
                    <!-- End: .checklist -->

                    <!-- Read More Button -->
                    <!-- <a href="#0" class="btn btn-1 btn-left btn-read-more">Read More</a> -->
                </div>
            </div>
            <!-- End: TWO COLS DESCRIPTION TEXT -->
        </div>
        <!-- End: .row .two-cols-description-with-slider-body -->
    </div>
    <!-- End: Container-fluit -->
</section>
<!-- End: Two cols Section
==============================-->

<!-- Start: Two cols Section
==============================-->
<section id="two-cols-description-with-image" class="two-cols-description-with-image">
    <div class="container-fluid">
        <div class="row two-cols-description-with-image-body">

            <!-- Start: TWO COLS DESCRIPTION IMAGE -->
            <div class="two-cols-description-image col-md-6 col-md-push-6 col-sm-12">
                <%= image_tag("gallery/compress_hand1.jpg", alt: "街頭健身囡仔團隊") %>
            </div>
            <!-- End: TWO COLS DESCRIPTION IMAGE -->

            <!-- Start: TWO COLS DESCRIPTION TEXT -->
            <div class="description-info col-md-6 col-md-pull-6 col-sm-12 wow fadeInLeft">

                <div class="description-info-inner section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header align-left">

                        <h2 class="section-heading">關於囡仔團隊</h2>
                        <p>我們是一支推廣街頭健身的團隊，創立於2014年5月，希望以民間的力量在各地推動街頭健身運動。我們的最終目標是，讓人人都熱愛運動並實現街頭健身的理想：讓健身成為生活的一部分。<br><br>
 
成立初期以介紹全國各地公園、翻譯國外健身影片為主。期間曾與囚徒健身書商-楓書坊進行合作一事，並對委內瑞拉團隊-Pro-Barras、英國選手Stephen Hughes-Landers進行專訪，協助台灣與國際街頭健身圈接軌。<br><br>
 
除了運動外，我們也將台灣的文化連結在品牌背後，並以河洛語為團隊作命名，那是我們對這片土地的深厚情感。未來，希望肩負這股社會責任，繼續為台灣運動員付出熱忱。
 </p>
                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: .chaecklist -->
<!--                     <ul class="checklist">
                        <li>Finiti id dolor id evint landing ultricies vehicula ut id elit.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                        <li>Nulla vitae elit finiti, a pharetra augue.</li>
                        <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                        <li class="visible-lg">Praesent commodo cursus magna event landing template, event landing scelerisque nisl consectetur et.</li>
                    </ul> -->
                    <!-- End: .checklist -->

                    <!-- Read More Button -->
                    <a href="https://www.facebook.com/ginastreetworkout/" class="btn btn-1 btn-left btn-read-more">Facebook Page</a>

                </div>

            </div>
            <!-- End: TWO COLS DESCRIPTION TEXT -->

        </div>
    </div>
</section>
<!-- End: Two cols Section
==============================



<!--  Start: Two cols Section
==============================--> 
<section id="two-cols-description-with-slider" class="two-cols-description-with-slider">
    <div class="container-fluid">
        <div class="row two-cols-description-with-slider-body">

            <!-- Start: TWO COLS DESCRIPTION TEXT -->
            <div class="description-info description-height  col-sm-12 wow fadeInRight">

                <div class="description-info-inner section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header align-left">
                        <h2 class="section-heading">關於街頭健身</h2>
                        <p>街頭健身(street workout)算是徒手健身(calisthenic)的延伸。<br>
除了在一般戶外場所進行基本的push up、pull up。。。等動作外，<br>
加入了飛越、轉體的表演花招，讓街頭健身充滿極限運動的元素。<br>
因此，街頭健身可以說是一種致力於徒手健身的訓練流派，也可以說是一種表演運動。<br><br>

街頭健身(street workout)此一名詞的起源眾說紛紜，但若說到徒手健身的歷史，
各方資料都可以很輕易顯示，遠從古希臘時期，士兵就開始以自體重量做訓練<br><br>

在某些地方，流連在公園的民眾，大多為貧民、流浪漢<br>
他們花很長的時間聚集在公園內<br>
閒到沒事<br><br>

而後期的花式動作，或許可以視為大家訓練之餘，信手拈來的娛樂動作。<br><br>

近年來，花式動作在大家爭相表現自己下，
各種讓人目瞪口呆的極限動作一一出現，
難度、和危險性也逐漸爭高，
也慢慢讓街頭健身逐漸模糊了"健身"的焦點<br><br>

這樣的現象，<br>
加上大多街頭健身的選手為了比賽的優勢，往往選擇忽略腿部的訓練<br>
在國外，總是成為大家口水戰和撻伐的小辮子<br><br>

但回歸初衷<br>
街頭健身讓流連在公園的群眾，減少了滋事的可能<br>
並提供了貧困孩子們接觸健身、甚至翻身的機會。</p>
                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: .chaecklist -->
<!--                     <ul class="checklist">
                        <li>Finiti id dolor id evint landing ultricies vehicula ut id elit.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                        <li>Nulla vitae elit finiti, a pharetra augue.</li>
                        <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                        <li class="visible-lg">Praesent commodo cursus magna, event landing scelerisque nisl consectetur et.</li>
                    </ul> -->
                    <!-- End: .checklist -->

                    <!-- Read More Button -->
                    
                </div>
            </div>
            <!-- End: TWO COLS DESCRIPTION TEXT -->
        </div>
        <!-- End: .row .two-cols-description-with-slider-body -->
    </div>
    <!-- End: Container-fluit -->
</section>
<!-- End: Two cols Section
==============================-->

