<!-- Start: Speakers Area
      =====================================-->
      <section class="speakers" >
          <div class="container">
              <div class="row speakers-body section-separator col-md-12 col-lg-offset-1 col-lg-10" >

                  <!-- Start: Section Header -->
                  <div class="section-header col-md-6 col-md-offset-3">

                      <!-- Speakers Heading Goes Here -->
                      <h2 class="section-heading">囡仔夥伴</h2>

                  </div>
                  <!-- End: Section Header -->

                  <div class="clearfix"></div>

                  <!-- Start: Slider Area -->
                  <div id="slider" class="wow fadeInDown" >

                      <!-- Speakers Slide images Goes Here -->
                      <!-- Item 1 -->
                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1.jpg", alt: "街頭健身") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="https://www.facebook.com/jeffchenstreetworkout/?fref=ts" class="btn btn-1 btn-top" target="_blank"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="https://www.instagram.com/jeffmotivation/" class="btn btn-1 btn-top"> <i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                                              
                                          </ul>
                                      </div>
                                      <h2>Jeff</h2>
                                  </figcaption>
                              </figure>
                          </div>
                         
                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>陳玠言</h3>
                          <p>總召</p>

                      </div>

                      <!-- Item 2 -->
                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/2.jpg", alt: "街頭健身") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="https://www.facebook.com/profile.php?id=100002980245481&fref=ts" class="btn btn-1 btn-top" target="_blank"> <i class="fa facebook fa-facebook"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h2>阿勝</h2>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>陳子勝</h3>
                          <p>工作人員</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/3.jpg", alt: "街頭健身") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="https://www.facebook.com/profile.php?id=100000134778614&fref=ts" class="btn btn-1 btn-top" target="_blank"> <i class="fa facebook fa-facebook"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h2>小藍</h2>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>藍偉誌</h3>
                          <p>工作人員</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/4.jpg", alt: "街頭健身") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="https://www.facebook.com/profile.php?id=100001430081448&fref=ts" class="btn btn-1 btn-top" target="_blank"> <i class="fa facebook fa-facebook"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h2>鬼哥</h2>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>鬼哥</h3>
                          <p>影像動畫師</p>

                      </div>
                      <%= render "other_members" %>  

                  </div>
                  <!-- End: #slider -->

              </div>
              <!-- Start: .row .speakers-body .section-separator -->
          </div>
          <!-- End:  "container"-->
      </section>
      <!-- End: Speakers Area
      =====================================-->