
<!-- Start: Schedule Area
==============================-->
<section id="schedule" class="schedule">
    <div class="container">
        <div class="row section-separator">

            <div class="section-header col-md-6 col-md-offset-3">

                <h2 class="section-heading">賽程細節</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit corrupti facilis, enim earum numquam minus veritatis nobis accusamus similique, totam?</p>

            </div>

            <div class="clearfix"></div>

            <div class="schedule-inner wow fadeInUp" >

                <div class="link">
                    <!-- Nav tabs -->
                    <ul class="schedule-day nav" role="tablist">
                        <li role="presentation" class="btn-group active">
                            <a class="" href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab">1<span class="power">st</span> Day</a>
                        </li>
                        <li role="presentation" class="btn-group">
                            <a class="" href="#day-2" aria-controls="day-2" role="tab" data-toggle="tab">2<span class="power">nd</span> Day</a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>


                <div class="tab-content ">

                    <!-- 1st day -->
                    <div class="tab-pane schedule-day-detail active" id="day-1">
                        <div class="link">

                            <!-- Nav tabs -->
                            <ul class="schedule-hall nav" role="tablist">
                                <li role="presentation" class="btn-group active">
                                    <a class="btn-bottom" href="#hall-1-1" aria-controls="hall-1-1" role="tab" data-toggle="tab">Hall 1</a>
                                </li>
                                <li role="presentation" class="btn-group">
                                    <a class="btn-bottom" href="#hall-2-1" aria-controls="hall-2-1" role="tab" data-toggle="tab">Hall 2</a>
                                </li>
                                <li role="presentation" class="btn-group">
                                    <a class="btn-bottom" href="#hall-3-1" aria-controls="hall-3-1" role="tab" data-toggle="tab">Hall 3</a>
                                </li>
                            </ul>

                        </div>

                        <div class="clearfix"></div>

                        <!-- Start: 1st day .tab-content -->
                        <div class="tab-content ">

                            <!-- 1st hall -->
                            <div class="tab-pane schedule-hall-detail active" id="hall-1-1">
                                <div class="collapse-tab schedule-hall">
                                    <div class="panel-group" id="accordion-1-1">
                                        <span class="line-h"></span>

                                        <!-- Start: Tab-1 -->
                                        <div class="panel panel-default" id="hall-1-1-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-1" href="#hall-1-1-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">The Future of the Web</span>
                                                            <span class="name">Anjel Gorina</span>
                                                            <span class="company ">CEO, DeviserWeb</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-1-collapseOne" class="panel-collapse collapse">

                                                <!-- Tab-1 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>The Future of the Web</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-1 -->


                                        <!-- Start: Break Time -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <span class="panel-title-a">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Lunch Brack</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">12:00 PM - 12:30 PM</span>
                                                            <span class="collapse-icon"></span>
                                                        </span>
                                                    </span>

                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End: Break Time -->


                                        <!-- Start: Tab-2 -->
                                        <div class="panel panel-default" id="hall-1-1-panel-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-1" href="#hall-1-1-collapseTwo" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Improving Wordpress</span>
                                                            <span class="name">David Jones</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-1-collapseTwo" class="panel-collapse collapse">

                                                <!-- Tab-2 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <%= image_tag("speakers-img/2.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Improving Wordpress</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-2 -->


                                        <!-- Start: Tab-3 -->
                                        <div class="panel panel-default" id="hall-1-1-panel-3">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-3 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-1" href="#hall-1-1-collapseThree" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Dance With Code</span>
                                                            <span class="name">Kulsum Doe</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 PM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-1-collapseThree" class="panel-collapse collapse">

                                                <!-- Tab-3 Detail Goes Here  -->
                                                <div class="panel-body">
                                                   <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Dance With Code</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-3 -->


                                    </div> <!-- End: .panel-group  -->
                                </div><!--  End: tab  -->

                            </div>
                            <!-- End: 1st holl -->

                            <!-- 2nd hall -->
                            <div class="tab-pane schedule-hall-detail" id="hall-2-1">
                                <div class="collapse-tab schedule-hall">
                                    <div class="panel-group" id="accordion-2-1">
                                        <span class="line-h"></span>


                                        <!-- Start: Tab-1 -->
                                        <div class="panel panel-default" id="hall-2-1-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-2-1" href="#hall-2-1-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">Anjel Gorina</span>
                                                            <span class="company ">CEO, DeviserWeb</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-2-1-collapseOne" class="panel-collapse collapse">

                                                <!-- Tab-1 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>

                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-1 -->


                                        <!-- Start: Break Time -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <span class="panel-title-a">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Lunch Brack</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">12:00 PM - 12:30 PM</span>
                                                            <span class="collapse-icon"></span>
                                                        </span>
                                                    </span>

                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End: Break Time -->


                                        <!-- Start: Tab-2 -->
                                        <div class="panel panel-default" id="hall-2-1-panel-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-2-1" href="#hall-2-1-collapseTwo" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">David Jones</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-2-1-collapseTwo" class="panel-collapse collapse">

                                                <!-- Tab-2 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/2.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-2 -->


                                    </div> <!-- End: .panel-group  -->
                                </div><!--  End: tab  -->
                            </div>
                            <!-- End: 2rd holl -->


                            <!-- 3rd hall -->
                            <div class="tab-pane schedule-hall-detail" id="hall-3-1">
                                <div class="collapse-tab schedule-hall">
                                    <div class="panel-group" id="accordion-3-1">
                                        <span class="line-h"></span>


                                        <!-- Start: Tab-1 -->
                                        <div class="panel panel-default" id="hall-3-1-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-3-1" href="#hall-3-1-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">Anjel Gorina</span>
                                                            <span class="company ">CEO, DeviserWeb</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-3-1-collapseOne" class="panel-collapse collapse">

                                                <!-- Tab-1 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>

                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-1 -->


                                        <!-- Start: Break Time -->
                                        <div class="panel panel-default" >
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <span class="panel-title-a">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Lunch Brack</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">12:00 PM - 12:30 PM</span>
                                                            <span class="collapse-icon"></span>
                                                        </span>
                                                    </span>

                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End: Break Time -->


                                        <!-- Start: Tab-2 -->
                                        <div class="panel panel-default" id="hall-3-1-panel-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-3-1" href="#hall-3-1-collapseTwo" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">David Jones</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-3-1-collapseTwo" class="panel-collapse collapse">

                                                <!-- Tab-2 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/2.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>

                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-2 -->


                                    </div> <!-- End: .panel-group  -->
                                </div><!--  End: tab  -->
                            </div>
                            <!-- End: 3rd holl -->


                        </div>
                        <!-- End: 1st day .tab-content -->
                    </div>
                    <!-- End: 1st Day -->

                    <!-- Start: 2nd day -->
                    <div class="tab-pane schedule-day-detail" id="day-2">
                        <div class="link">

                            <!-- Nav tabs -->
                            <ul class="schedule-hall nav" role="tablist">
                                <li role="presentation" class="btn-group active">
                                    <a class="btn-bottom" href="#hall-1-2" aria-controls="hall-1-2" role="tab" data-toggle="tab">Hall 1</a>
                                </li>
                                <li role="presentation" class="btn-group">
                                    <a class="btn-bottom" href="#hall-2-2" aria-controls="hall-2-2" role="tab" data-toggle="tab">Hall 2</a>
                                </li>
                            </ul>

                        </div>

                        <div class="clearfix"></div>

                        <!-- Start: 2nd day .tab-content -->
                        <div class="tab-content ">

                            <!-- 1st hall -->
                            <div class="tab-pane schedule-hall-detail active" id="hall-1-2">
                                <div class="collapse-tab schedule-hall">
                                    <div class="panel-group" id="accordion-1-2">
                                        <span class="line-h"></span>

                                        <!-- Start: Tab-1 -->
                                        <div class="panel panel-default" id="hall-1-2-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-2" href="#hall-1-2-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">The Future of the Web</span>
                                                            <span class="name">Anjel Gorina</span>
                                                            <span class="company ">CEO, DeviserWeb</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-2-collapseOne" class="panel-collapse collapse">

                                                <!-- Tab-1 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>The Future of the Web</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-1 -->

                                        <!-- Start: Break Time -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <span class="panel-title-a">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Lunch Brack</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">12:00 PM - 12:30 PM</span>
                                                            <span class="collapse-icon"></span>
                                                        </span>
                                                    </span>

                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End: Break Time -->

                                        <!-- Start: Tab-2 -->
                                        <div class="panel panel-default" id="hall-1-2-panel-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-2" href="#hall-1-2-collapseTwo" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Improving Wordpress</span>
                                                            <span class="name">David Jones</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-2-collapseTwo" class="panel-collapse collapse">

                                                <!-- Tab-2 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/2.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Improving Wordpress</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-2 -->

                                        <!-- Start: Tab-3 -->
                                        <div class="panel panel-default" id="hall-1-2-panel-3">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-3 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-2" href="#hall-1-2-collapseThree" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Dance With Code</span>
                                                            <span class="name">Kulsum Doe</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 PM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-1-2-collapseThree" class="panel-collapse collapse">

                                                <!-- Tab-3 Detail Goes Here  -->
                                                <div class="panel-body">
                                                   <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Dance With Code</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-3 -->

                                    </div>
                                    <!-- End: .panel-group  -->
                                </div>
                                <!--  End: tab  -->

                            </div>
                            <!-- End: 1st holl -->

                            <!-- 2nd hall -->
                            <div class="tab-pane schedule-hall-detail" id="hall-2-2">
                                <div class="collapse-tab schedule-hall">
                                    <div class="panel-group" id="accordion-2-2">
                                        <span class="line-h"></span>


                                        <!-- Start: Tab-1 -->
                                        <div class="panel panel-default" id="hall-2-2-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-2-2" href="#hall-2-2-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">Anjel Gorina</span>
                                                            <span class="company ">CEO, DeviserWeb</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-2-2-collapseOne" class="panel-collapse collapse">

                                                <!-- Tab-1 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/1.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>

                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-1 -->


                                        <!-- Start: Break Time -->
                                        <div class="panel panel-default" >
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <span class="panel-title-a">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Lunch Brack</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">12:00 PM - 12:30 PM</span>
                                                            <span class="collapse-icon"></span>
                                                        </span>
                                                    </span>

                                                </h4>
                                            </div>
                                        </div>
                                        <!-- End: Break Time -->


                                        <!-- Start: Tab-2 -->
                                        <div class="panel panel-default" id="hall-2-2-panel-2">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-2-2" href="#hall-2-2-collapseTwo" class="" aria-expanded="false">
                                                        <span class="detail col-sm-9">
                                                            <span class="headline">Less Motivation</span>
                                                            <span class="name">David Jones</span>
                                                            <span class="company">CEO, DeviserWeb.</span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time">10:30 AM - 12:00 PM</span>
                                                            <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="hall-2-2-collapseTwo" class="panel-collapse collapse">

                                                <!-- Tab-2 Detail Goes Here  -->
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <%= image_tag("speakers-img/2.jpg", class: "img-responsive") %>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                                            <h4>Less Motivation</h4>
                                                            <p>Event landing Sed facilisis justo vitae risus viverra vulputate. Finiti ipsum dignissim diam viverra condimentum. Donec sodales, diam eget mattis condimentum, quam neque tempus purus, event landing dictum viverra risus nisl quis metus.</p>
                                                            <ul class="nav navbar-left">
                                                                <li><span class="small time">2hour</span></li>
                                                                <li><span class="small position">Beginner</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End: Tab-2 -->


                                    </div>
                                    <!-- End: .panel-group  -->
                                </div>
                                <!--  End: tab  -->
                            </div>
                            <!-- End: 2nd holl -->

                        </div>
                        <!-- End: 2nd day .tab-content -->
                    </div>
                    <!-- End: 2nd Day -->

                </div>

            </div>

            <!-- Download Button -->
            <div class="download-btn defult-use-btn">
                <a href="/草根盃＿比賽規章.pdf" class="btn btn-1 btn-top" target="_blank">Download<span>[ PDF 95KB ]</span></a>
            </div>


        </div>
        <!-- End: .row -->
    </div>
    <!-- End: .container  -->
</section>
<!-- End: Schedule Area
==============================-->