<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="台灣的街頭健身正在崛起，囡仔團隊致力推動街頭健身運動，並提供一個平台，舉辦比賽，邀請各界健身人士參加，以開放的態度進行交流。 " />
      <meta name="author" content="囡仔">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="keywords" content="健身, 街頭健身, 徒手, 比賽, 囡仔, 團隊, streetworkout, Street-Workout Taiwan , calisthenic" />

      <!-- TITLE OF SITE -->
      <title> 囡仔 - 台灣街頭健身地方聯盟 </title>
      <%= csrf_meta_tags %>
      
      <!-- CSS -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    </head>
    
    <body>
      <%= yield %>

      <!-- for devise -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <!-- JS -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXtKPN-097FWbfneioTa23SpRO-mEdfAs"></script>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
